.bg-e-lerning{
    background: #F4FAFD;
}
.bg-fb{
    color: #4267B2;
    font-size: 35px;
}
.bg-youtube{
    color: #FF0000;
    font-size: 35px;
}
.bg-twitte{
    color: #00a7e7;
    font-size: 35px;
}